@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: -3px;
    box-sizing: border-box;
}

.container{
    background-color: whitesmoke;
    width: 70%;
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
    padding: 25px;
}


.container .title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
}

.container .title span:nth-child(1){
    font-size: 24px;
    font-weight: 500;
}

.container .title span:nth-child(2){
    width: 200px;
    background-color: rgba(228, 228, 228, 0.5);
    color: #808191;
    padding: 17px;
    border-radius: 25px; 
}

.container .body{
    display: flex;
    height: 650px;
    justify-content: space-between;

}


.container .body .left{
   width: 48%;
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url('https://ui8-unity-gaming.herokuapp.com/img/categories-pic-1.png');
   border-radius: 30px;
   padding: 35px;
   position: relative;
}

.container .body .right{
    width: 48%;
}


.container .body .left .arrow{
   display: flex;
}

.container .body .left .arrow>*{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;    
}

.container .body .left .arrow>*:hover{
    background-color: #6c5dd3;
    color: #fff;
    transition: 0.25s;
    cursor: pointer;
}


.container .body .left .name{
    position: absolute;
    bottom: 6%;
    line-height: 32px;
  }


.container .body .left .name span{
    font-size: 13px;
    font-weight: 700;
    background: rgba(108, 93, 211, 0.5);
    padding: 3px 15px;
    border-radius: 15px;
    color: #fff;
}

#title_name_game{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.container .body .view{
    color: #fff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

.container .body .view::before{
    content: " ";
    width: 9px;
    height: 9px;
    background: #7FBA7A;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.container .body .name button{
    min-width: 120px;
    height: 48px;
    background: #5a49ce;
    color: #fff;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    border: none;
}

.right .item{
    width: 95%;
    display: flex;
    height: 195px;
    background: #fff;
    padding: 7px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 30px;
}

.right .item .item_left{
    width: 55%;
    border-radius: 30px;
    overflow: hidden;
    background-image: url(https://ui8-unity-gaming.herokuapp.com/img/categories-pic-2.png);
    height: 100%;
    background-size: 100%;
}

.right .item .item_right{
    width: 45%;
    height: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right .item .item_right span{
    background: rgba(108, 93, 211, 0.1);
    color: #3F8CFF;
    width: fit-content;
    padding: 3px 13px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 3px;
}

.right .item .item_right p:nth-child(2) {
    color: #11142D;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
    transition: color 0.5s;
}

.right .item .item_right p:nth-child(2):hover{
    color:#6c5dd3;
    transition: color 0.5s;
}

.right .item .item_right p:nth-child(3) {
    color: #808191;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 9px;
}

.right .item .item_right p:nth-child(3)::before {
    content: " ";
    width: 9px;
    height: 9px;
    background: #7FBA7A;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.right .item .item_right button{
    color: #11142D;
    background: rgba(228, 228, 228, 0.5);
    height: 47px;
    width: 114px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
}


.right .item .item_left1{
    width: 55%;
    border-radius: 30px;
    overflow: hidden;
    background-image: url(https://ui8-unity-gaming.herokuapp.com/img/categories-pic-3.png);
    height: 100%;
    background-size: 100%;
}

.right .item .item_left2{
    width: 55%;
    border-radius: 30px;
    overflow: hidden;
    background-image: url(https://ui8-unity-gaming.herokuapp.com/img/categories-pic-4.png);
    height: 100%;
    background-size: 100%;
}


