@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.nut_dropdown {
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
  }
 /* Thiết lập vị trí cho thẻ div với class dropdown*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
 /* Nội dung Dropdown */
  .noidung_dropdown {
    /*Ẩn nội dung các đường dẫn*/
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px;
  }
 /* Thiết kế style cho các đường dẫn trong Dropdown */
  .noidung_dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* thay đổi màu background khi hover vào đường dẫn */
 .noidung_dropdown a:hover {background-color: transparent;}
 /* hiển thị nội dung dropdown khi hover */
  .dropdown:hover .noidung_dropdown {display: block;}
 /* Thay đổi màu background cho nút khi được hover */
  .dropdown:hover .nut_dropdown {background-color: white;}


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

#home{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    height: 836px;
    justify-content: center;
    color: black;
}


#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://nguoinoitieng.tv/images/nnt/0/0/na.jpg) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
    background-attachment: fixed;
}


.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: 'Abril Fatface', cursive;
    color: white;
}

.headings{
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic{
    display: flex;
}


#pic img{
    width: 575px;
    height: 400px;
}


#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}


#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
   font-family: 'Lobster', cursive;
}


p{
    font-size: 42px;
}

#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width: 25%;
    height: 240px;
    margin: 10px;
}


#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row{
    display: flex;
}


.box{
    display: flex;
    flex-direction: column;
    width: 499px;
    height: 500px;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    border: 6px solid black;
    background-size: 100% 200%;
}

.box p{
    font-size: 20px;
}


#hero{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    height: 836px;
    justify-content: center;
    color: black;
}


#hero::before{
    content: "";
    position: absolute;
    background-image: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.6)
    ), url(https://vcdn-vnexpress.vnecdn.net/2017/12/18/nha-van-nguyen-tuan-5518-1513593382.jpg);
    height: 1000px;
    width: 100%;
    background-attachment: fixed;
}


#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
    padding: 30px;
}

#hero h2{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: white;
    padding: 20px;
}

#hero p{
    display: block;
    width: fit-content;
    position: relative;
    color: white;
    padding: 10px;
    font-size: 25px;
}


#story{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
}


#content p{
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: black;
    padding: 10px;
    margin-left: 40px;
}


#categories h1{
    margin-top: 70px;
}



#content .box1{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 595px;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    border: 6px solid black;
    background-size: 100% 200%;
}


#hero .hero-container p{
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: -78px;
}


#story .headings{
    margin-top: 90px;
}


#services{
    margin-bottom: 30px;
}