* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .container {
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  .left,
  .right {
    height: 90vh;
  }
  .left {
    padding: 0px !important;
  }
  .right {
    background-color: red;
  }

.search{
    padding: 8px 5px;
}

.search input{
    width: 90%;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.search i{
    margin-left: 5px;
    font-size: 22px;
    cursor: pointer;
}

.search i:hover{
    color: #95a6a6;
}


body{
    margin-top:20px;
    background:#eee;
}

.users_list a {
    text-decoration: none !important;
    display: block;
    margin-bottom: 0;
    color: #555
}

.users_list .badge {
    font-size: 0.7em;
    padding: 5px 10px;
    line-height: 1;
    margin-left: 10px
}

.users_list .item {
    padding: 20px
}

.users_list .item:nth-of-type(even) {
    background: #fafafa
}

.users_list .item .image {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    margin-right: 15px
}

.users_list .item img {
    padding: 3px;
    border: 1px solid #28a745
}

.users_list .item h3 {
    color: #555;
    font-weight: 400;
    margin-bottom: 0
}

.users_list .item small {
    color: #aaa;
    font-size: 0.75em
}

.card-close {
    position: absolute;
    top: 15px;
    right: 15px
}

.card-close .dropdown-toggle {
    color: #999;
    background: none;
    border: none
}

.card-close .dropdown-toggle:after {
    display: none
}

.card-close .dropdown-menu {
    border: none;
    min-width: auto;
    font-size: 0.9em;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1)
}

.card-close .dropdown-menu a {
    color: #999 !important
}

.card-close .dropdown-menu a:hover {
    background: #796AEE;
    color: #fff !important
}

.card-close .dropdown-menu a i {
    margin-right: 10px;
    -webkit-transition: none;
    transition: none
}


hr{
    margin: 0px !important;
}


.users_list{
    height: 100%;
}


.card-body{
    height: 100%;
    overflow-y: scroll;
}


.user_info img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}


.right .user_name_wrapper{
  margin-left: 5px;
}

.right .user_name_wrapper h2{
  font-size: 19px;
}


  @media screen and (max-width: 762px) {
    .left {
      height: 30vh;
    }
    .right {
      height: 60vh;
    }
  }
  .left .header {
    background-color: #bdc3c7;
    padding: 8px 13px;
  }
  
  .left .avatar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
  }
  .left .header .func > * {
    margin-left: 10px;
  }
    