*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panel{
    width: 60%;
    margin: 0 auto;
    border: solid #4267b2 1px;
}


.panel-heading{
    background-color: #4267b2;
    padding: 10px;
    color: white; 
}

.panel-body{
    padding: 10px;
}


.panel-body label{
    font-weight: bold;
}

.form-group{
    display: block;
    margin-bottom: 20px;
}

.form-control{
    display: block;
    width: 98%;
    font-size: 16px;
    margin-top: 10px;
}

.table{
    width: 100%;
}

.tabletr{
    border-bottom: solid blue 1px;
}