@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.s1{
    /* background-image: url(./img/hero.jpg); */
    background-image: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.6)
    ), url(./img/hero.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    /* position: absolute; */ 
}


.s1 nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* padding-top: 20px; */
    color: #fff;
    height: 5px;
}

.s1 nav .logo{
    height: 9px;
}


.s1 nav .logo img{
    height: 100px;
}

.s1 nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    list-style: none;
    font-size: 17px;
    font-weight: 300;
    color: white;
}

.s1 nav ul li a{
    font-size: 20px;
    font-weight: 300;
}


.s1 .content{
    width: 40%;
    position: absolute;
    top: 41%;
    left: 16%;
}


.s1 .content p{
    color: white;
    font-weight: 500;
    font-size: 260%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 20px;
}


.s1 .content a:nth-child(2){
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #e67e22;
    border: 1px solid #e67e27;
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
}

.s1 .content a:nth-child(2):hover{
    background-color: #b46016;
}


.s1 .content a:nth-child(3){
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    color: #e67e22;
    border: 1px solid #e67e27;
    font-size: 20px;
}

.s1 .content a:nth-child(3):hover{
    background-color: #e67e22;
    color: white;
}

.title{
    /* background-color: rgb(81, 188, 221); */
    width: 100%;
    height: 90vh;
}

.title .word h1{
    font-size: 227%;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: black;
}


.title .word h1::after{
    display: block;
    height: 2px;
    background-color: #e67622;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


section{
    padding: 80px 0;
}


.title .word p{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;   
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    display: flex;
    justify-content: center;
}




.cup{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.letter .box{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 70px;
    margin-left: 70px;
}


.letter a{
    font-size: 350%;
    display: 145%;
    color: #e67e22; 
    font-weight: 200;
}


.letter h2{
    margin-top: 2px;
    font-size: 135%;
    font-weight: 300;
    text-transform: uppercase;
}


.letter p{
    line-height: 145%;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 17px;
    top: 10%;
    left: 35px;
    width: 230px;
}

.section-meals{
    padding: 0;
    margin-bottom: 50px;
}


.meals-showcase{
    list-style: none;
    padding: 0;
}


.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.section-meals img{
    height: auto;
    width: 100%;
}

.meals{
    width: 100%;
    height: 175vh;
    background-color: #f4f4f4;
}

.meals .word h1{
    /* margin-top: 20px; */
    font-size: 227%;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    /* margin-bottom: 30px; */
    letter-spacing: 1px;
    padding-top: 590px; 
    color: black;
}


.meals .word h1::after{
    display: block;
    height: 2px;
    background-color: #e67622;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.roll{
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.roll:before, .roll:after {
    content: "";
    display: table;
}


.boxs:first-child:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}


.boxs img{
    width: 58%;
    height: auto;
}



.step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 48px;
    width: 65px;
    text-align: center;
    padding: 5px;
    font-size: 166%;
    margin-right: 39px;
}

.step{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


.step p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

}


.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-left: 20px;
}


.city{
    width: 100%;
    height: 90vh;
}

.cities .words h1{
    font-size: 227%;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 1px;
    padding-top: 20px; 
}


.cities .words h1::after{
    display: block;
    height: 2px;
    background-color: #e67622;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.pics{
    display: flex;
    flex-direction: row;
    /* padding: 179px; */
    justify-content: center;
    margin-left: 73px;
    margin-top: 30px;
}

.picture{
    display: flex;
    justify-content: center;
}

.pic img{
    width: 80%;
    height: auto;
    margin-bottom: 15px;
    /* border-style: none; */
}


.pic h3{
    font-size: 110%;
    margin-bottom: 15px;
    font-weight: 300;
}


.picc{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.picc i{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 155%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

.picc p{
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.picc a{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    font-size: 20px;
    font-weight: 300;
}


.test{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    ), url(http://www.omnifood.net/resources/CSS/img/back-customers-min.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}


.word h1{
    font-size: 227%;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #fff;
}


.word h1::after{
    display: block;
    height: 2px;
    background-color: #e67622;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


.rools{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.rool{
    display: flex;
    justify-content: center;
}



.rools p{
    line-height: 145%;
    color: white;
    font-size: 20px;
    width: 381px;
    padding: 2%;
    font-style: italic;
}

.people{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}


.rools img{
    border-radius: 50%;
    margin-right: 10px;
    height: auto;
    width: 12%;
    margin-top: 26px;
}


.toy{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.healthy{
    width: 100%;
    height: 90vh;
}


.dog .word h1{
    font-size: 227%;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 1px;
    padding-top: 20px; 
    color: black;
}


.dog .word h1::after{
    display: block;
    height: 2px;
    background-color: #e67622;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.signup{
    background-color: #f4f4f4;
}


.carrot{
    margin-top: 20px;
}

.carrot h2 {
    font-size: 284%;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: black;
}
.signup .line {
    width: 100px;
    height: 2px;
    background-color: #e67622;
    margin: 30px auto;
}
.signupcontent {
    display: flex;
    justify-content: center;
    font-weight: 200;
}
.signupcontent h3 {
    font-weight: 200;
    margin-bottom: 15px;
}
.signupcontent h1 {
    font-size: 361%;
    margin-bottom: 10px;
    font-weight: 400;
    color: #e67e22;
}
.signupcontent .month {
    color: #e67e22;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 19px;
}
.signupcontent .premium {
    background-color: white;
    margin: 30px;
    line-height: 25px;
    border: 1px solid white;
    padding: 40px;
}
.signupcontent .pro {
    background-color: white;
    margin: 30px;
    line-height: 25px;
    border: 1px solid white;
    padding: 40px;
}
.signupcontent .starter {
    background-color: white;
    margin: 30px;
    line-height: 25px;
    border: 1px solid white;
    padding: 40px;
}
.signupcontent button{
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 47px;
}


.signupcontent .btn1{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s;
    background-color: rgb(230, 126, 34);
    border: 1px solid rgb(230, 126, 39);
    color: rgb(255, 255, 255);
    margin-right: 15px;
    font-size: 20px;
}

.signupcontent .btn1:hover{
    background-color: #b46016;
}

.signupcontent .btn2{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    color: #e67e22;
    border: 1px solid #e67e27;
    font-size: 20px;
    background-color: white;
}

.signupcontent .btn2:hover{
    background-color: #e67e22;
    color: white;
}


.content span{
    color: rgb(85, 85, 85);
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    padding: 10px;
}

.starter h3{
    color: rgb(85, 85, 85);
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    padding: 10px;
}

.pro h3{
    color: rgb(85, 85, 85);
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    padding: 10px;
}


.premium h3{
    color: black;
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    padding: 10px;
}

.starter p{
    color: rgb(85, 85, 85);
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizelegibility;
    margin-bottom: 30px;
}


.pro p{
    color: rgb(85, 85, 85);
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizelegibility;
    margin-bottom: 30px;
}



.premium p{
    color: rgb(85, 85, 85);
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizelegibility;
    margin-bottom: 30px;
}