*{
    margin: 0;
    padding: -3px;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.logo img{
    height: 100%;
    width: 165px;
}

.header{
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.wrapper{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/6bdbf132-dd7b-4d42-8f84-9139f9c4eaac/VN-en-20210823-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 100vh;
    background-image: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.wrapper::before{
    content: "";
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.login-body{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 400px;
    height: 500px;
    margin-left: 50%;
    background: rgba( 0, 0,0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 35%;
}


.login-body h2{
    font-size: 27px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 22px;
}

.login-body input{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    background: #333;
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.input-wrap{
    margin-bottom: 25px;
}

.login-body button{
    height: 50px;
    width: 100%;
    color: #fff;
    background: #e50914;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #e50914;
}


.support{
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 15px;
}

.support input{
    width: 18px;
    height: 15px;
}


.remeber{
    display: flex;
    align-items: center;
}


.remember span{
    margin-right: 10px;
    height: 25px;
}



