@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@300&display=swap');


*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


html{
    font-size: 16px;
}


body{
    font-family: 'Cairo', sans-serif;
    background-color: #181616;
    color: #ffffff;
    padding-top: 60px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}


.main-color{
    color: #c0392b;
}

.container{
    max-width: 2000px;
    padding:0 40px;
    margin: auto;
}


.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: black;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 60px;
}

.nav a{
    color: #ffffff;
}

.logo{
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.nav-menu li{
    margin-left: 30px;
}

.nav-menu a{
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover{
    color: #c0392b;
}


.nav-menu a.btn:hover, 
a.logo:hover{
    color: unset;
}

.btn{
    display: inline-flex;
    position: relative;
    align-items: center;
    color: #ffffff;
    padding: .25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #c0392b;
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before{
    width: 100%;
}

.btn i,
.btn span{
    z-index: 1;
}

.btn i{
    margin-right: 1rem;
}


.item-menu{
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.item,
.item::before,
.item::after{
    width: 30px;
    height: 3px;
    border-radius: 0.5rem;
    background-color: #ffffff;
    transition: 0.4s;
}


.item::before,
.item::after{
    content: "";
    position: absolute;
    left: 0;
}

.item::before{
    top: 0px;
}

.item::after{
    bottom: 0px;
}

.item-menu.active .item{
    background-color: transparent;
}


.item-menu.active .item::before{
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.item-menu.active .item::after{
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}


.items{
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}


.items img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.item-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;

}

.item-content-wrapper{
    padding-right: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 76px;
}


.item-content-wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.item-content-title{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}

.movies-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}


.movie-info{
    display: flex;
    align-items: center;
    font-size: -8rem;
    font-weight: 600;
}

.movie-info span{
    margin-left: 20px;
}

.movie-info i{
    color: #c0392b; 
}

.item-content-description{
    font-size: 1.15rem;
    margin-top: 30px;
    line-height: 1.5rem;
}s


.movie-info ~ .movie-info{
    margin-left: 20px;
}

.item-action{
    margin-top: 30px;
}


.movie-list-container{
    padding: 20px;
}

.movie-list-item img{
    width: 240px;
    height: 317px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.movie-list-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.title{
    display: block;
    padding-left: 76px;
}

.container{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}


.movie-list-item-title{
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    width: 230px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    font-family: 'Bebas Neue', cursive;
}


.movie-list-desc{
    color: white;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    margin-top: 50px;
    top: 10%;
    left: 50px;
    width: 230px;
    transition: 1s all ease-in-out;
    opacity: 0;
    font-family: 'Roboto Slab', serif;
}


.movie-list-item button{
    padding: 15px;
    background-color: black;
    color: black;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item button:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
}


.row-header-title{
    font-size: 1.8vw;
    color: #e5e5e5;
    font-weight: 700;
    margin: 15px 4% .5em 4%;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}




.aro-row-header{
    display: table-cell;
    vertical-align: bottom;
}



.row{
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}

.nav{
    width: 100%;
    height: 51px;
    overflow: hidden;
    padding: 10px 0;
    scroll-behavior: smooth;
}

.nav .nav-bar{
    width: 100%;
    height: 200px;
    display: flex;
}

.nav-bar .column{
    min-width: 25%;
    height: 100%;
    transition: 0.3s linear;
    cursor: pointer;
}

.column img{
    width: 85%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.active{
    transform: scale(1.1);
    border: 1px solid #fff;
}




.member-footer{
    margin: 20px auto 0;
    padding: 0 4%;
    color: grey;
    background-color: rgb(0, 0, 0);
    height: 233px;
}

.member-footer .social-links{
    display: flex;
    margin-bottom: 1em;
    margin-left: 110px;
}

.member-footer .social-links .social-link{
    margin: 7px -37px -28px 51px;
    color: grey;
    font-size: 30px;
}

.member-footer-links{
    display: flex;
    flex-direction: row;
    margin-left: -43px;
    margin-top: 5px;
}

.member-footer-link{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.member-footer-link .member-footer-links-wrapper{
    display: flex;
    margin: 5px;
    padding-left: 200px;
    flex-wrap: wrap;
    font-size: 13px;
}


.member-footer-service{
    display: block;
    margin-left: 161px;
}


.member-footer .service-code{
    margin-bottom: 20px;
    font-size: 10px;
    padding: .5em;
}

.service-code{
    background: 0 0;
    color: grey;
    border: solid 1px grey;
    font-size: 1.3rem;
    padding: .5rem;
}

.service-code:hover{
    background: transparent;
    cursor: pointer;
    color: white;
}

.movieboxs{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.moviebox{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
 

.moviecard{
    position: relative;
    border: solid1px #333;
    width: 240px;
    height: 280px;
    border-radius: 5px;
    margin: 5px;
    transition: width 0.5s;
}

.thumb,
.hero,
.movietext{
    width: 240px;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    transition: width 0.5s;
}

.thumb{
    opacity: 1;
}

.hero{
    opacity: 0;
}

.movietext{
    z-index: -1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.moviecard:hover,
.moviecard:hover .thumb,
.moviecard:hover .hero,
.moviecard:hover .movietext{
    width: 420px;
}



.moviecard:hover .thumb{
    opacity: 0;
}

.moviecard:hover .hero{
    opacity: 1;
}

.moviecard:hover .movietext{
    z-index: 1000;
    opacity: 1;
}


.movietext:hover  p{
    color: white;
    font-size: 30px;
}

.movietext:hover  a{
    margin-top: 5px;
    color: white;
    background: brown;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
}



.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-desc,
.movie-list:hover .movie-list-item > button{
    opacity: 1 !important;
}


@media only screen and (max-width: 850px){
    html{
        font-size: 12px;
    }

    .item-menu{
        display: grid;
    }

    .nav-menu{
        display: flex;
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li{
        margin: 10px 30px;

    }

    .nav-menu.active{
        left: 0;
    }
}


