@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
    background: #1ed760;
    color: #2941AB;
    text-transform: uppercase;
    padding: 14px 32px;
    border: 30px;
    border-radius: 500px;
    font-size: inherit;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo{
    height: 40px;
    width: auto;
}


#navbar{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}


.navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar-container .logo{
    height: 45px;
    width: auto;
}

.navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}


.navbar-container ul li{
    padding: 0 20px;
}

.navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}


#showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #1ED760;
    background: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 846px;
    background-color: rgb(41, 65, 171);
}


.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-container h2{
    width: 754px;
    font-size: 120px;
    padding-bottom: 24px;
    line-height: 122px;
}


.showcase-container p{
    margin: 15px 0;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#footer{
    background: black;
    color: white;
    padding: 70px 0;
}

.footer-content{
    display: flex;
    width: 60%;
    margin: auto;
}

.footer-content .footer-menu{
    margin: 0 40px;
    list-style: none;
}

.footer-content .footer-menu .footer-menu-item{
    margin: 25px 0;
} 

.footer-content .footer-menu p{
    font-weight: bold;
    color: #919496;
    font-size: 0.8rem;
}

.socials{
    display: flex;
}


.socials i{
    margin: 0 20px;
    font-size: 1.7rem;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
}

.footer-info .footer-info-items .footer-info-item{
    margin: 0 10px;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
}

.footer-info .footer-info-items{
    display: flex;
    list-style: none;
    margin-top: 20px;
}


