@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@300&display=swap');


*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


html{
    font-size: 16px;
}


body{
    font-family: 'Cairo', sans-serif;
    background-color: #181616;
    color: #ffffff;
    padding-top: 60px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}


.main-color{
    color: #c0392b;
}

.container{
    max-width: 2000px;
    padding:0 40px;
    margin: auto;
}


.nav-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: black;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 60px;
}

.nav a{
    color: #ffffff;
}

.logo{
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.nav-menu li{
    margin-left: 30px;
}

.nav-menu a{
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover{
    color: #c0392b;
}


.nav-menu a.btn:hover, 
a.logo:hover{
    color: unset;
}

.btn{
    display: inline-flex;
    position: relative;
    align-items: center;
    color: #ffffff;
    padding: .25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #c0392b;
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before{
    width: 100%;
}

.btn i,
.btn span{
    z-index: 1;
}

.btn i{
    margin-right: 1rem;
}


.item-menu{
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}


.row-header-title{
    position: fixed;
    font-size: 1.8vw;
    color: #e5e5e5;
    font-weight: 700;
    margin: 15px 4% .5em 4%;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
}


.genre-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


.genre-details span{
    font-size: 1.8vw;
    color: #e5e5e5;
    font-weight: 700;
    margin: 15px 4% .5em 4%;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
}


.movie-list-container{
    padding: 20px;
}

.movie-list-item img{
    width: 240px;
    height: 317px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.movie-list-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.title{
    display: block;
    padding-left: 76px;
}

.container{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}


.movie-list-item-title{
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    width: 230px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    font-family: 'Bebas Neue', cursive;
}


.movie-list-desc{
    color: white;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    margin-top: 50px;
    top: 10%;
    left: 35px;
    width: 230px;
    transition: 1s all ease-in-out;
    opacity: 0;
    font-family: 'Roboto Slab', serif;
}


.movie-list-item button{
    color: white;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 70px;
    opacity: 0;
}

.movie-list-item button:hover{
    transition: 0.5s;
    color: black;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    opacity: 1;
}


.member-footer{
    margin: 20px auto 0;
    padding: 0 4%;
    color: grey;
    background-color: rgb(0, 0, 0);
    height: 233px;
}

.member-footer .social-links{
    display: flex;
    margin-bottom: 1em;
    margin-left: 110px;
}

.member-footer .social-links .social-link{
    margin: 7px -37px -28px 51px;
    color: grey;
    font-size: 30px;
}

.member-footer-links{
    display: flex;
    flex-direction: row;
    margin-left: -43px;
    margin-top: 5px;
}

.member-footer-link{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.member-footer-link .member-footer-links-wrapper{
    display: flex;
    margin: 5px;
    padding-left: 200px;
    flex-wrap: wrap;
    font-size: 13px;
}


.member-footer-service{
    display: block;
    margin-left: 161px;
}


.member-footer .service-code{
    margin-bottom: 20px;
    font-size: 10px;
    padding: .5em;
}

.service-code{
    background: 0 0;
    color: grey;
    border: solid 1px grey;
    font-size: 1.3rem;
    padding: .5rem;
}

.service-code:hover{
    background: transparent;
    cursor: pointer;
    color: white;
}


.container button{
    padding: 6px;
    border-radius: 6px;
    border: none;
}


.container input{
    padding: 6px;
    border-radius: 6px;
    border: none;
}